@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* 
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e

com o :root conseguimos criar um conjunto de
váriaveis associdas a cada cor da paleta, desta forma fica fácil chamar sempre a mesma cor e manter o padrão

o *{} é uma configuração global, ou seja, se aplica a tudo.
*/

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --corsombra: rgba(0, 0, 0, 0.400);

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 190px;
    text-align: center;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 3em;
    text-shadow: 2px 2px 0px var(--corsombra);
}

header > p {
    color: white;
    font-size: 1.2em;
    padding: 0px 10px;
    text-shadow: 2px 2px 0px var(--corsombra);
    max-width: 550px;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 18px;
    box-shadow: 0px 5px 5px var(--corsombra);
}

nav > a {
    color:white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.2s;
}

nav > a:hover {
    color: var(--cor5);
    background-color: var(--cor3);
    border-radius: 8px;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 15px var(--corsombra);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.8em;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 2em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding: 4px 8px;
    font-weight: normal;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 4px;
    transition-duration: 0.2s;
}

main a:hover {
    color: var(--cor1);
    font-weight: bold;
    background-color: var(--cor5); 
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}

main div.fundo_video {
    background-color: var(--cor5);
    margin: 0px -20px 15px -20px;
}

main div.video {
    padding: 40px 20px 35px 20px;
    text-align: center;
}

main div.video > iframe{
    width: 70%;
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding : 10px;
    box-shadow: 3px 3px 10px var(--corsombra);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: normal;
    text-indent: 5px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 15px 0px;
}
